.p-right{
  position: relative;
  display: inline-block;
  padding: 0 16px 0 0;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.p-right::before,
.p-right::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.p-left{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.p-left::before,
.p-left::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow-left-down::after{
  left: 4px;
  width: 4px;
  height: 4px;
  border-bottom: 7px solid #fff;
  border-right: 7px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-right-down::after{
  right: 4px;
  width: 4px;
  height: 4px;
  border-bottom: 7px solid #fff;
  border-right: 7px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
